*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    padding-top: 2em;
    max-width: calc(2560px + 1.875em);
    margin: 0 auto;
    width: 100%;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
  }